In [1]:
#import pip
#pip.main(['install','netCDF4'])
#pip.main(['install','xarray'])
#import netCDF4

from matplotlib import pyplot as plt
import pandas as pd
import netCDF4 as netcdf
import numpy as np
from netCDF4 import Dataset
import xarray as xr
import glob

In [2]:
output_file='sgpmetavgE13.b1.20180101.000000.cdf'
input_files=glob.glob("DATA/*.cdf")
input_files

['DATA\\sgpmetE13.b1.20180101.000000.cdf',
 'DATA\\sgpmetE13.b1.20180102.000000.cdf',
 'DATA\\sgpmetE13.b1.20180103.000000.cdf',
 'DATA\\sgpmetE13.b1.20180104.000000.cdf',
 'DATA\\sgpmetE13.b1.20180105.000000.cdf']

In [3]:

#DONE-write a function that would take all these files and write to a data frame
#DONE-if possible does the aggregation to 5 mins- or make it a separate function

In [24]:
required=['atmos_pressure','rh_mean','temp_mean'] #required columns to aggregate
outputDF=pd.DataFrame() #empty dataframe to hold the output
for i in range(len(input_files)): #for every file in the Input DATA folder
    df = (xr.open_dataset(input_files[i])).to_dataframe() #convert the netCDF4 data to a dataframe
    df5min=df[required].resample("5T").mean() #aggregating it to 5 mins interval
    outputDF=outputDF.append(df5min) #keep appending to the result data frame

outputDF.rename(columns={'atmos_pressure':'atmospheric_pressure','rh_mean':'relative_humidity',
                         'temp_mean':'mean_temperature'}, inplace=True) #changing the column names of the dataframe to required format
outputDF

#TODO- write the outputs to netCDF4 files 
#    - check if input files exist
#    - check input file format
#    - check the time it starts (example if it start from mins not divisible by 5)

                     atmospheric_pressure  relative_humidity  mean_temperature
time
2018-01-01 00:00:00            100.146004          41.172001        -10.724000
2018-01-01 00:05:00            100.156006          41.481998        -10.784000
2018-01-01 00:10:00            100.156006          41.382000        -10.834000
2018-01-01 00:15:00            100.169998          42.012001        -10.901999
2018-01-01 00:20:00            100.171997          42.332001        -10.980000
2018-01-01 00:25:00            100.186005          42.922001        -11.084000
2018-01-01 00:30:00            100.195999          43.326000        -11.164000
2018-01-01 00:35:00            100.206001          43.554001        -11.226000
2018-01-01 00:40:00            100.220001          43.779999        -11.278000
2018-01-01 00:45:00            100.226006          43.998001        -11.346000
2018-01-01 00:50:00            100.230003          44.605999        -11.456000
2018-01-01 00:55:00            100.237999          44.880001        -11.530000
2018-01-01 01:00:00            100.241997          45.405998        -11.624001
2018-01-01 01:05:00            100.241997          45.481998        -11.664000
2018-01-01 01:10:00            100.241997          45.410000        -11.644000
2018-01-01 01:15:00            100.250000          45.246002        -11.640000
2018-01-01 01:20:00            100.260002          45.815998        -11.698000
2018-01-01 01:25:00            100.260002          46.372002        -11.778000
2018-01-01 01:30:00            100.267998          46.439999        -11.770000
2018-01-01 01:35:00            100.271996          46.279999        -11.752000
2018-01-01 01:40:00            100.278000          46.346001        -11.750000
2018-01-01 01:45:00            100.267998          46.248001        -11.734000
2018-01-01 01:50:00            100.271996          45.616001        -11.677999
2018-01-01 01:55:00            100.281998          45.029999        -11.626000
2018-01-01 02:00:00            100.283997          44.546001        -11.616000
2018-01-01 02:05:00            100.279999          43.746002        -11.602000
2018-01-01 02:10:00            100.279999          44.063999        -11.628000
2018-01-01 02:15:00            100.281998          44.285999        -11.670000
2018-01-01 02:20:00            100.293999          44.348000        -11.684000
2018-01-01 02:25:00            100.296005          45.009998        -11.772000
...                                   ...                ...               ...
2018-01-05 21:30:00             98.629395          32.970001          8.934000
2018-01-05 21:35:00             98.628395          33.028000          8.846000
2018-01-05 21:40:00             98.628601          33.293999          8.748000
2018-01-05 21:45:00             98.621201          33.153999          8.792000
2018-01-05 21:50:00             98.613602          33.169998          8.750000
2018-01-05 21:55:00             98.615196          33.411999          8.594000
2018-01-05 22:00:00             98.624199          33.714001          8.401999
2018-01-05 22:05:00             98.629997          34.056000          8.156000
2018-01-05 22:10:00             98.623199          34.313999          7.986000
2018-01-05 22:15:00             98.621002          34.914001          7.750000
2018-01-05 22:20:00             98.621002          35.565998          7.468000
2018-01-05 22:25:00             98.628998          35.917999          7.302000
2018-01-05 22:30:00             98.629395          36.439999          7.046400
2018-01-05 22:35:00             98.631203          36.976002          6.823800
2018-01-05 22:40:00             98.635803          37.459999          6.591000
2018-01-05 22:45:00             98.646599          37.785999          6.453600
2018-01-05 22:50:00             98.653397          38.456001          6.132000
2018-01-05 22:55:00             98.660202          39.445999          5.740600
2018-01-05 23:00:00             98.654800          40.048000          5.504600
2018-01-05 23:05:00             98.651199          40.697998          5.189600
2018-01-05 23:10:00             98.656998          41.557999          4.772600
2018-01-05 23:15:00             98.669601          42.088001          4.538600
2018-01-05 23:20:00             98.676201          42.526001          4.374600
2018-01-05 23:25:00             98.677200          42.576000          4.279800
2018-01-05 23:30:00             98.677200          43.012001          4.049000
2018-01-05 23:35:00             98.683800          43.858002          3.674200
2018-01-05 23:40:00             98.696800          44.070000          3.571000
2018-01-05 23:45:00             98.708199          44.436001          3.362600
2018-01-05 23:50:00             98.719002          44.716000          3.147200
2018-01-05 23:55:00             98.727600          45.708000          2.731600

[1440 rows x 3 columns]

In [25]:
#df11 = (xr.open_dataset(input_files[2])).to_dataframe()
#df = ds.to_dataframe()
#df11.head()

#ds = xr.open_dataset(input_files[4])
#df1 = ds.to_dataframe()
#df1

#df.columns.values
#required=['atmos_pressure','rh_mean','temp_mean']
#newdf=df[required]
#newdf.head()

#newdf.resample("5T").mean()
#df5min11=df[required].resample("5T").mean()
#df5min12=df1[required].resample("5T").mean()
#df5min11.head()

#finaldf=df5min

#finaldf.append(df5min1)

#finalNewdf1 = pd.DataFrame()#columns=['atmospheric_pressure','relative_humidity','mean_temperature'])

#finalNewdf1=finalNewdf1.append(df5min11)

#finalNewdf1=finalNewdf1.append(df5min12)

#finalNewdf1
#finalNewdf1.rename(columns={'atmos_pressure':'atmospheric_pressure','rh_mean':'relative_humidity','temp_mean':'mean_temperature'}, inplace=True)
#finalNewdf1.head()



#nc = Dataset('data1.cdf','r')
#for i in nc.variables:
#    print(i)#, nc.variables[i].units)#, nc.variables[i].shape)

#print(nc)
#nc.variables.keys()

#print(nc.variables['atmos_pressure'])
#atmos_pr=nc.variables['atmos_pressure'][:]
#atmos_pr



#type(df1['time_offset'])
#ds

#list(df1.index.values)

#newdf11=df['required']
#newdf12=df1['required']